{% extends "basic/template.html" %}
{% load more_like_this %}
{% load highlight %}
{% load extras %}

{% block page_title %}OpenVocabulary.info | {% if entry %}{{ entry.get_label }}{% else %}Browse Vocabularies{% endif %}{% endblock %}

{% block page_content %}
	{% if entry %}
		<div class="oventry">
			<h1>{{ entry.get_label }}</h1>
			{% if entry.description %}
				<p class="description">{% autoescape off %}
					{{ entry.description }}
				{% endautoescape %}</p>
			{% endif %}
			{% if entry.gloss %}
				<p class="gloss">{% autoescape off %}
					{{ entry.gloss }}
				{% endautoescape %}</p>
			{% endif %}
			
			<table border="0" cellspacing="5" cellpadding="5">
				<tr><th colspan='2'>Metadata</th></tr>
				<tr><td>URI:</td><td>{{ entry.uri }}</td></tr>
				{% if entry.scheme %}
					<tr><td>In&nbsp;scheme:</td><td><a href="/vocabularies?uri={{ entry.context.uri }}" title="Show scheme {{ entry.context.label }}">{{ entry.context }}</a></td></tr>					
				{% endif %}
				{% if entry.label  %}
					<tr><td>Label:</td><td>{{ entry.label }}</td></tr>
				{% endif %}
				{% if entry.lexical_form  %}
					<tr><td>Lexical&nbsp;form:</td><td>{{ entry.lexical_form }}</td></tr>
				{% endif %}
				{% if entry.frame %}
					<tr><td>Frame:</td><td>{{ entry.frame }}</td></tr>
				{% endif %}
				{% if entry.pos %}
					<tr><td>Part&nbsp;of&nbsp;speech:</td><td>{{ entry.pos|expand_dict:'DICT_PART_OF_SPEECH' }}</td></tr>
				{% endif %}
				{% if entry.type_tag %}
					<tr><td>Kind&nbsp;of&nbsp;entry:</td><td>{{ entry.type_tag|capfirst }}</td></tr>
				{% endif %}
				{% if entry.in_synset %}
					<tr><td>Is&nbsp;in&nbsp;synset:</td><td>{{ entry.in_synset|create_entry_anchor:'Show related synset' }}</td></tr>
				{% endif %}
				{% if entry.tag_count %}
					<tr><td>Tag&nbsp;count:</td><td>{{ entry.tag_count }}</td></tr>
				{% endif %}
				{% if entry.synset_id %}
					<tr><td>Synset&nbsp;id:</td><td>{{ entry.synset_id }}</td></tr>
				{% endif %}
				
			</table>
			
			{# Relations to other entries #}
			
			<table border="0" cellspacing="5" cellpadding="5">
				<tr><th colspan='2'>Relations</th></tr>
				{% if entry.parent %}
				<tr><td>Parent&nbsp;concept:</td><td>{{ entry.parent|create_entry_anchor:'Show parent concept' }}</td></tr>
				{% endif %}
				
				{% for type in entry.types.all  %}
					{% if forloop.first %}
					<tr><td rowspan="{{ entry.types.all|length }}">Type&nbsp;of&nbsp;concept:</td>
					{% else %}
					<tr>
					{% endif %}
					<td><a href="{{ type.uri }}" title="Get more info about this type of concepts">{{ type.uri|get_short_name }}</a></td>
					</tr>
				{% endfor %}
				{% if entry.relations %}
					{% for ref in entry|list_entry_relations %}
						<tr><td>{{ ref.relation|expand_dict:'DICT_ENTRY_RELATION_TYPES' }}</td><td>{{ ref.object|create_entry_anchor:'show relation' }}</td></tr>
					{% endfor %}
				{% endif %}
				{% for meaning in entry.meanings.all  %}
					{% if forloop.first %}
					<tr><td rowspan="{{ entry.meanings.all|length }}">Meanings:</td>
					{% else %}
					<tr>
					{% endif %}
					<td>{{ ref.object|create_entry_anchor:'Show relation' }}</td>
					</tr>
				{% endfor %}
				{% for word in entry.words.all %}
					{% if forloop.first %}
					<tr><td rowspan="{{ entry.words.all|length }}">Related&nbsp;words:</td>
					{% else %}
					<tr>
					{% endif %}
					<td>{{ word|create_entry_anchor:'Show related words' }}</td>
					</tr>
				{% endfor %}
				{% for word_sense in entry.word_senses.all %}
					{% if forloop.first %}
					<tr><td rowspan="{{ entry.word_senses.all|length }}">Related&nbsp;word&nbsp;senses:</td>
					{% else %}
					<tr>
					{% endif %}
					<td>{{ word_sense|create_entry_anchor:'Show related word senses' }}</td>
					</tr>
				{% endfor %}
				{% if entry.triples %}
					{% for ref in entry|list_entry_triples %}
						<tr>
							<td><a href="{{ ref.predicate.uri }}" title="See more information about {{ ref.predicate|get_label }} predicate">{{ ref.predicate|get_label }}</a></td>
							<td>
								{% if ref.object %}
									{% with ref.object|get_entry as object_entry %}
										{% if object_entry %}
										{{ object_entry|create_entry_anchor:'Show related entry' }}
										{% else %}
										<a href="{{ ref.object.uri }}" title='Show related resource'>{{ ref.object.label }}</a>	
										{% endif %}
									{% endwith %}
								{% else %}
									<span class="literal" {% if ref.literal_lang %}xml:lang="{{ ref.literal_lang }}"{% endif %}>{{ ref.literal }}</span>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				{% endif %}
			</table>
		    {# is_root = models.BooleanField(default=False) #}
			{# TODO: IMPORTANT reversed properties #}
			{# TODO: IMPORTANT show all data {% if is_logged_in %}Thanks for logging in!{% else %}Please log in.{% endif %} #}
		</div>
	
	{% else %}
		The best way to start browsing through the OpenVocabulary repository is to start with one of <a href="/vocabularies/" rel="self" title="Vocabularies">vocabularies</a>.
	{% endif %}
	
	
{% endblock %}


{% block page_breadcrumbs %}
	<ul>
		<li><a href="/" title="Welcome page">Welcome</a>&nbsp;>&nbsp;</li>
		<li><a href="/vocabularies/lookup" title="Browsing section">Browse</a>&nbsp;>&nbsp;</li>
		{% if entry %}
		<li>{{ entry|create_entry_anchor:'This entry' }}</li>
		{% endif %}
		{# add current lookup #}
	</ul>
{% endblock %}
