<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:plugin:blog</key>
		<dict>
			<key>CreationDate</key>
			<date>2010-07-30T17:38:13Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>553C6FB4-954D-4447-8E24-801A1EE443E9</string>
			<key>PageDigests</key>
			<dict>
				<key>rss.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					ySu0h74kFZbdw1d11rHDPA==
					</data>
					<key>Size</key>
					<integer>219</integer>
				</dict>
				<key>smiley_angry.png</key>
				<dict>
					<key>Digest</key>
					<data>
					OsvBGlBtLs1CxAB3/F5vkA==
					</data>
					<key>Size</key>
					<integer>1275</integer>
				</dict>
				<key>smiley_embarrassed.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Ok+zrbTJSQbzYHvbtXa5FQ==
					</data>
					<key>Size</key>
					<integer>1310</integer>
				</dict>
				<key>smiley_footinmouth.png</key>
				<dict>
					<key>Digest</key>
					<data>
					oNlmERQNe+JvbhxYf6Q/sQ==
					</data>
					<key>Size</key>
					<integer>1254</integer>
				</dict>
				<key>smiley_gasp.png</key>
				<dict>
					<key>Digest</key>
					<data>
					3fIF+LsL4I973PnZdsHYdg==
					</data>
					<key>Size</key>
					<integer>1208</integer>
				</dict>
				<key>smiley_laugh.png</key>
				<dict>
					<key>Digest</key>
					<data>
					aiKkmJLIzkmwI7ENY7ns/A==
					</data>
					<key>Size</key>
					<integer>1283</integer>
				</dict>
				<key>smiley_sad.png</key>
				<dict>
					<key>Digest</key>
					<data>
					JrI6GFcEDYoDNPeCi0NJDQ==
					</data>
					<key>Size</key>
					<integer>1263</integer>
				</dict>
				<key>smiley_smile.png</key>
				<dict>
					<key>Digest</key>
					<data>
					ek1FWaeOXYzGu9xa5IUf6A==
					</data>
					<key>Size</key>
					<integer>1240</integer>
				</dict>
				<key>smiley_wink.png</key>
				<dict>
					<key>Digest</key>
					<data>
					zIRR5aU+gUMZuXop1aVLFA==
					</data>
					<key>Size</key>
					<integer>1236</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:plugin:blog</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
